<div id="root">
  <script type="text/javascript">
  <% if current_user %>
    console.log('User is available')
  <% else %>
    console.log('User is unavailable')
  <% end %>
  </script>
  
  React is not working
</div>
