.mini-cal-display{
  display: flex;
  justify-content: center;
  align-items: center;
  h4{
    margin: 0 10px;
  }


  .mini-cal{
    border: 2px solid $cal-brown;
    border-radius: 10px;
    width: 110px;
    height: 110px;

    div:first-child{
      background-color: $cal-brown;
      border-radius: 8px 8px 0 0;
      padding: 5px;
      color:white;
      font-weight: 700;
    }
    div:last-child{
      background-color: white;
      h1{
        margin: 0;
        font-size: 35px;
      }
    }

  }
}

.event-notes{
  margin: 20px 50px 0 50px;
  border-top: 1px solid transparentize($landing-dark, 0.6);
  padding-top: 20px;
  text-align: left;
  h2{
    font-weight: 700;
    font-size: 15px;
  }
  p{
    font-size: 12px;
  }
}
.event-footer{
  margin: 5px 50px;

  padding-top: 20px;
  text-align: left;
  // padding-left: 50px;
  p{
    font-size: 12px;
    font-weight: 700;
    color: transparentize($basecamp-dark-beige, 0.2)
  }
}
