.event-list{
  padding: 10px 60px;

  .event-item{

    border-bottom: 1px solid transparentize($landing-dark, 0.8);
    display: flex;

    div{
      margin: 0 10px;

      h1{
        font-size: 18px;
        font-weight: 700;
      }
    }

    div:first-child{
      width: 180px;
    }

    div:last-child{
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 425px;
    }

    .events{
      li{
        a{
          text-decoration: none;
          color: $landing-dark;
        }
      }
    }
  }
}

h2.event-header{
  text-align: left;
  padding-top: 20px;
  padding-left: 60px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
}

@import 'event_show';
@import 'event_form';
