.message-board{
  padding: 20px 40px;
  a{
    text-decoration: none;
    color: $landing-dark
  }
}
.message-board-item{
  margin: 20px 0;
  display: flex;
  align-items: center;
  max-height: 80px;
  overflow: hidden;


  div:last-child{
    padding: 0 20px;
  }


  .author-image{
    span{
      font-size: 30px;
    }
  }


  .message-details{
    text-align: left;
    h1{
      font-size: 20px;
      margin: 5px 0;
    }
  }
}

.tool-page{
  .message-details{
    h3{
      font-size: 15px;
    }
  }
  .message-show{
    padding: 20px 50px;
    text-align: left;

    .posting{
      font-size: 10px;
      margin-top: 50px;
      color: $basecamp-dark-beige;
    }
  }
}
