.main-app {
  background-color: $basecamp-beige;
  color: $landing-dark;
  font-size: 15px;
  line-height: 1.5;
  font-family: $sans-serif;
  min-height: 100vh;

  .main-app-content{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 20px;
  }
}

a.card{
  text-decoration: none;
  color: inherit;
}

@import 'navbar';
@import 'project_section';
@import 'project_show'
