.project-page{
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  h1{
    font-size: 40px;
    font-weight: 700;
  }

  h2{
    font-size: 15px;
  }

  .user-list{
    display: inherit;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    ul{
      display: inherit;
      margin-right: 5px;
      li{
        margin-right:12px;
      }
    }
  }
  ul.tools{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    a{
      text-decoration: none;
      color: inherit;
    }
    li.tool-card{
      background-color: white;
      margin: 10px;
      padding: 20px 10px;
      width: 260px;
      height: 260px;
      border-radius: 5px;
      box-shadow: 0px 2px 5px transparentize(black, 0.8);
      li{
        font-weight: 700;
        margin: 40px 0;
      }
      li::before{
        content: ' " '
      }
      li::after{
        content: ' " '
      }

      h2{
        position: relative;
        font-weight: 700;
      }

      h2::after{
        content: ' ';
        width: 80%;
        position: absolute;
        top: 100%;
        left: 10%;
        margin-top: 10px;
        border-width: 0.5px;
        border-style: solid;
        border-color: rgba(40,60,70,0.2);
        z-index: 0;
      }

    }

  }
}
