.project-section{
  text-align: center;
  min-height: 174px;
  width: 775px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  padding-top: 12px;

  .project-divider::before{
    content: ' ';
    width: 800px;
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 20px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(40,60,70,0.2);
    z-index: 0;
  }
  .project-divider::after{
    content: ' ';
    width: 800px;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(40,60,70,0.2);
    z-index: 0;
  }
  .project-divider{
    background-color: $basecamp-beige;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    color: $basecamp-dark-beige;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
    // z-index: 10;
    display: inline-block;
  }

  ul.card-holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li.card{
      margin: 5px 10px;
      height: 129px;
      width: 238px;
      text-align: left;
      h2{
        font-weight: bold;
      }
      ul{
        font-size: 13px;
      }

    }

    li.card.logo{
      text-align: center;
    }

    .company-logo{
      height: 140px;
      overflow: hidden;
      margin: 0 auto;
      display: inline-block;
    }

    .project-card{
      text-align: left;
      background-color: white;
      padding: 10px;
      // width: 230px;
      height: 110px;

      border-radius: 5px;
      box-shadow: 0px 2px 5px transparentize(black, 0.8);

      h1{
        font-weight: bold;
      }
      p{
        font-size: 12px;
      }
    }
  }

  .new-project-dropdown{
    box-shadow: 0px 2px 2px transparentize(black, 0.8);
    border: 5 solid black;
    background-color: white;
    padding: 15px 15px 10px 15px;
    position: absolute;
    border-radius: 5px;
    top: 30%;
    left: 0%;
    z-index: 10;

    input{
      font-size: 15px;
      margin-bottom: 10px;
    }

    input[type=text]{
      padding: 10px;
      border-radius: 5px;
      border: 0.5px solid transparentize(black, 0.8);
    }

    div{
      display: flex;
      justify-content: flex-start;
      input{
        margin-right: 5px;
        padding: 10px 10px;
      }
    }
  }

  .new-project-dropdown::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 15%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent white transparent;

  }

}
