$landing-blue: #007BB6;
$signup-blue: #2E6BC2;
$landing-dark: #283C46;
$submit-green: #60AF77;
$submit-dark-green: #3c8b52;
$basecamp-beige: #F4EFE7;
$basecamp-light-beige: #FBF8F6;
$basecamp-dark-beige: #84745B;
$basecamp-user-funcs-purple: #7B6BBD;
$basecamp-user-hover-purple: #968dbe;
$light-gray: #F2F2F2;
$dark-gray: #E5E5E5;
