body {
  background-color: white;
  color: $landing-dark;
  font-size: 15px;
  line-height: 1.5;
  font-family: $serif;
}

a{
  color: $landing-blue;
  font-family: $sans-serif;
}

a:hover{
  color: $landing-dark;
  font-family: $sans-serif;
}


.landing-page-main{
  margin: 0 auto;
  text-align: center;
  padding: 0 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  img{
    width: 720px;
  }

  h1{
    font-size: 50px;
    font-weight: 700;
  }

  p{
    font-size: 20px;
    width: 800px;
  }

}

@import 'navbar';
@import 'session_form'
