
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

// Components
@import "base/reset";
@import "base/colors";
@import "base/fonts";
@import "bootstrap_lite/buttons";
@import "landing_page/main";
@import "main_app/main";
@import "react_calendar/main";


// Styling for react-simple-dropdown
.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    // position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}

.hidden {
  display: none !important;
}

.crop{
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
    border-radius: 25px;
  }
}

input, textarea{
  outline: none;
}

// Styling of check-box found from tutorial:
// https://paulund.co.uk/style-checkboxes-with-css

.check-box{
  input[type=checkbox]{
    visibility: hidden;
  }
  width: 25px;
  margin: 5px 10px;
  position: relative;

  label{
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
      left: 0;
    background: white;
    border:1px solid #ddd;
    border-radius: 5px;
  }

  label:after {
    opacity: 0.0;
    content: '';
    position: absolute;
    width: 15px;
    height: 6px;
    background: transparent;
    top: 7px;
    left: 4px;
    border: 3px solid #333;
    border-radius: 0 0 0 5px;
    border-top: none;
    border-right: none;

    transform: rotate(-54deg);
  }

  label:hover::after {
    opacity: 0.5;
  }

  input[type=checkbox]:checked + label:after {
    opacity: 1;
    border: 3px solid white;
    border-top: none;
    border-right: none;
  }

  input[type=checkbox]:checked + label {
    background-color: $submit-green;
  }

}

.loading-bar{
  width: 100%;
}

.coming-soon{
  cursor: not-allowed;
}
