.calendar{
  .react-calendar{
    margin: 20px auto;
    width: 500px;
    border-radius: 10px;

    .react-calendar__navigation{
      border-radius: 8px 8px 0 0;
      background-color: $landing-dark;
      margin: 0;
      button{
        font-size: 15px;
        color: white;
      }
      button:hover{
        background-color: $landing-dark;
      }
    }

    .react-calendar__month-view__weekdays{
      background-color: $landing-dark;
      color: white;
    }

    .react-calendar__month-view__days__day{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 45px;
      overflow: hidden;
    }

    .react-calendar__month-view__days {
      div{
        height: 71px;
        border: 0.25px solid transparentize($landing-dark, 0.8);
      }
      div.event-block{
        height: 10px;
        width: 10px;
        // position: absolute;
        margin: 1.5px;
        color: white;
        background-color: $landing-blue;
        border-radius: 25px;
        // font-size: 50px;
        // top: 10px;
      }
      time{
        width: 100%;
        position: absolute;
        top: 36%;
      }
      button{
        font-size: 15px;
      }
    }

    .react-calendar__tile--active{
      background-color: $landing-dark;
      color: #E2907E;
      font-weight: 700;
    }

    .react-calendar__tile--active:hover{
      background-color: $landing-dark;
    }
  }
}

.react-calendar__month-view__days__day{
  position: relative;
}
